h1 {
	font-family: Arial;
	text-align: center;
	background-color: rgb(207, 173, 221);
	
}
body {
	font-family: Arial;
	background-color: rgb(184, 197, 218);
	text-align: center;
}
article {
	text-align: center;
	margin: auto;
	background-color: rgb(207, 173, 221);
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	width: 80%;
	padding: 40px;
}

p {
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
}
